flows.json
[{"id":"90ea56e391b0259d","type":"tab","label":"Testing","disabled":false,"info":"","env":[]},{"id":"1e91273a5d5be47b","type":"tab","label":"Style CSS","disabled":false,"info":"","env":[]},{"id":"ea0787bfe1387952","type":"tab","label":"Monitoring","disabled":false,"info":"","env":[]},{"id":"c409eac5d7a6f929","type":"tab","label":"Change_WiFi","disabled":false,"info":"","env":[]},{"id":"ee01a21b094d0ee1","type":"tab","label":"Controlling_secured","disabled":false,"info":"","env":[]},{"id":"14fbe959360a77b5","type":"tab","label":"Controlling_PIN","disabled":false,"info":"","env":[]},{"id":"250c6b08eb1f9b3a","type":"tab","label":"History_PIN","disabled":false,"info":"","env":[]},{"id":"f925ad42bd078cb7","type":"tab","label":"History","disabled":false,"info":"","env":[]},{"id":"37cb6cd2d2fed482","type":"tab","label":"Download2","disabled":false,"info":"","env":[]},{"id":"53b8a60c.b0cba8","type":"tab","label":"Timezone","disabled":false,"info":""},{"id":"461ab92a8725cd92","type":"ui_tab","name":"Home","icon":"fa-bar-chart","order":4,"disabled":true,"hidden":true},{"id":"d1319834927b3320","type":"ui_group","name":"Current","tab":"461ab92a8725cd92","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"abe1a4c6a41b84a1","type":"ui_group","name":"Power","tab":"461ab92a8725cd92","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f8aed54f6d995e87","type":"ui_group","name":"Energy","tab":"461ab92a8725cd92","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"a7121eb8a3976cc7","type":"ui_group","d":true,"name":"Sampling Interval","tab":"461ab92a8725cd92","order":4,"disp":true,"width":"12","collapse":false,"className":""},{"id":"794a5e00d515c325","type":"ui_group","name":"Perkiraan Biaya Listrik","tab":"461ab92a8725cd92","order":5,"disp":true,"width":12,"collapse":false,"className":""},{"id":"33d6516352811047","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Power Monitoring & Controlling","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b69fde61b276e29","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"6ef3bec39e9d9f8c","type":"ui_spacer","z":"90ea56e391b0259d","name":"spacer","group":"7b69fde61b276e29","order":1,"width":1,"height":1},{"id":"5de214690407edcb","type":"ui_tab","name":"Testing MQTT","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"ec84c754678be126","type":"mqtt-broker","name":"HiveMQ","broker":"326a196b3a2c49e2ad74c3b955f6f2e2.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2e2e73718b26f4b6","type":"ui_group","name":"Group 1","tab":"5de214690407edcb","order":1,"disp":true,"width":6},{"id":"c42971134848ca29","type":"ui_tab","name":"CONTROLLING","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"ebfb3f51d9917deb","type":"ui_group","d":true,"name":"Relay 1(Pin4)","tab":"c42971134848ca29","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"160ddf0a.756f41","type":"ui_group","name":"Secure","tab":"f83ce942.20d488","order":1,"disp":true,"width":"6"},{"id":"4f3d9279.22b82c","type":"ui_group","name":"pin","tab":"f83ce942.20d488","order":2,"disp":false,"width":"1","collapse":false,"className":""},{"id":"f83ce942.20d488","type":"ui_tab","name":"Controlling","icon":"home","order":6,"disabled":false,"hidden":false},{"id":"5fcb0776.c461c8","type":"ui_group","name":"Control","tab":"7dfaf7ff.8d5ae","order":1,"disp":true,"width":"9","collapse":false},{"id":"fc657953.1b728","type":"ui_group","name":"admin1","tab":"7dfaf7ff.8d5ae","order":3,"disp":true,"width":"20","collapse":false},{"id":"7f74a584.dea814","type":"ui_group","name":"admin2","tab":"7dfaf7ff.8d5ae","order":4,"disp":true,"width":"21","collapse":false},{"id":"f033628c.9c7ce","type":"ui_group","name":"Change Tabs","tab":"7dfaf7ff.8d5ae","order":2,"disp":true,"width":"8","collapse":false},{"id":"7dfaf7ff.8d5ae","type":"ui_tab","name":"Admin","icon":"dashboard","order":9,"disabled":true,"hidden":true},{"id":"aaa787d430f6bdb3","type":"ui_tab","name":"Connection","icon":"wifi","order":11,"disabled":false,"hidden":false},{"id":"2af565dbd39ea0ba","type":"ui_group","name":"Change Wi-Fi Connection","tab":"aaa787d430f6bdb3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e0db5a2ade50af65","type":"ui_group","name":"pin","tab":"aaa787d430f6bdb3","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"d783cb980c3979fc","type":"ui_group","name":"Demo","tab":"0449b3b1fea99d52","order":1,"disp":true,"width":"6","collapse":false},{"id":"0449b3b1fea99d52","type":"ui_tab","name":"Demo","icon":"dashboard","order":12,"disabled":true,"hidden":true},{"id":"b896b237d40ce60a","type":"ui_group","name":"Lampu 1 & 2","tab":"c42971134848ca29","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f61304635312db9","type":"ui_group","name":"Lampu 3","tab":"c42971134848ca29","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1378c3764f602b25","type":"ui_group","name":"Group 2","tab":"5de214690407edcb","order":2,"disp":true,"width":6},{"id":"d7ea0efe467ba86d","type":"ui_group","name":"Group 3","tab":"5de214690407edcb","order":3,"disp":true,"width":6},{"id":"efe997dcfec6e257","type":"ui_group","name":"Lampu 4","tab":"c42971134848ca29","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"15cef360994f22c3","type":"ui_group","name":"End_Session","tab":"c42971134848ca29","order":5,"disp":false,"width":"6","collapse":false,"className":"end_session"},{"id":"9a98fc5dae6e5f03","type":"ui_spacer","z":"ee01a21b094d0ee1","name":"spacer","group":"ebfb3f51d9917deb","order":3,"width":1,"height":1},{"id":"b45a07c4fa2020a6","type":"ui_spacer","z":"ee01a21b094d0ee1","name":"spacer","group":"b896b237d40ce60a","order":3,"width":1,"height":1},{"id":"63976dc59e70cb21","type":"ui_spacer","z":"ee01a21b094d0ee1","name":"spacer","group":"6f61304635312db9","order":3,"width":1,"height":1},{"id":"71b981a2a174bdf2","type":"ui_spacer","z":"ee01a21b094d0ee1","name":"spacer","group":"efe997dcfec6e257","order":3,"width":1,"height":1},{"id":"2ac8e3fa.8b8584","type":"ui_group","name":"Default","tab":"ebb1ed1c.5ebe2","order":1,"disp":true,"width":"12","collapse":false},{"id":"ebb1ed1c.5ebe2","type":"ui_tab","name":"History","icon":"history","order":5,"disabled":true,"hidden":true},{"id":"7c43984324c7e751","type":"ui_tab","name":"Monitoring","icon":"fa-line-chart","order":1,"disabled":false,"hidden":false},{"id":"16879514407ab3c7","type":"ui_group","name":"Power","tab":"7c43984324c7e751","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"1797f96774c1a8fa","type":"ui_group","name":"Current","tab":"7c43984324c7e751","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"7f797a590374212a","type":"ui_group","name":"Energy","tab":"7c43984324c7e751","order":9,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f4ddc713.cb9a58","type":"ui_group","name":"T1","tab":"763667c5.ae1af8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"763667c5.ae1af8","type":"ui_tab","name":"LAB","icon":"dashboard","order":13,"disabled":true,"hidden":true},{"id":"aa6a1221.d871c","type":"ui_group","name":"Group 3","tab":"0bcba62bfbb44b2a","order":3,"disp":true,"width":6},{"id":"0bcba62bfbb44b2a","type":"ui_tab","name":"Tab 7","icon":"dashboard","order":10,"disabled":true,"hidden":true},{"id":"87307bf9f8c172f9","type":"ui_group","name":"pChart","tab":"7c43984324c7e751","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"ff095374a3733fb3","type":"ui_group","d":true,"name":"pHours","tab":"7c43984324c7e751","order":3,"disp":false,"width":6,"collapse":false,"className":""},{"id":"cc5f9b7aefef3bbd","type":"ui_group","d":true,"name":"pDays","tab":"7c43984324c7e751","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"41f9fe5fc2ebf8e2","type":"ui_group","name":"Group 2","tab":"763667c5.ae1af8","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"eca448189584cf70","type":"ui_group","name":"cChart","tab":"7c43984324c7e751","order":6,"disp":false,"width":"6","collapse":false,"className":""},{"id":"f67d05763ede65d4","type":"ui_group","d":true,"name":"cHours","tab":"7c43984324c7e751","order":7,"disp":false,"width":"6","collapse":false,"className":""},{"id":"a564da164c314db2","type":"ui_group","d":true,"name":"cDays","tab":"7c43984324c7e751","order":8,"disp":false,"width":"6","collapse":false,"className":""},{"id":"09decf03e40b6b21","type":"ui_group","name":"eChart","tab":"7c43984324c7e751","order":10,"disp":false,"width":"6","collapse":false,"className":""},{"id":"545eddb96fe4613b","type":"ui_group","d":true,"name":"eHours","tab":"7c43984324c7e751","order":11,"disp":false,"width":"6","collapse":false,"className":""},{"id":"9ef4a44b967a753a","type":"ui_group","d":true,"name":"eDays","tab":"7c43984324c7e751","order":12,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c636c829acce9c75","type":"ui_group","name":"CostR1","tab":"7c43984324c7e751","order":14,"disp":false,"width":"12","collapse":false,"className":""},{"id":"3cf65e4c5df5297d","type":"ui_group","name":"CostR2","tab":"7c43984324c7e751","order":15,"disp":false,"width":"12","collapse":false,"className":""},{"id":"c74736a995e3d117","type":"ui_group","name":"CostR3","tab":"7c43984324c7e751","order":16,"disp":false,"width":"12","collapse":false,"className":""},{"id":"57ba9f86082177e9","type":"ui_group","name":" Cost","tab":"7c43984324c7e751","order":13,"disp":true,"width":12,"collapse":false,"className":""},{"id":"160e81fb.f1c86e","type":"ui_group","name":"History Data","tab":"b63d1f91.68095","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"b63d1f91.68095","type":"ui_tab","name":"History Data","icon":"history","order":3,"disabled":false,"hidden":true},{"id":"d0b72a74.f9d968","type":"ui_group","name":"Default","tab":"e01b6f.a9d07c9","order":1,"disp":true,"width":"20","collapse":false},{"id":"e01b6f.a9d07c9","type":"ui_tab","name":"Home","icon":"dashboard","order":14,"disabled":true,"hidden":true},{"id":"3a2a4dcc.dcbe52","type":"ui_group","name":"Default","tab":"7a83039f.32968c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a83039f.32968c","type":"ui_tab","name":"Home","icon":"dashboard","order":15},{"id":"a1d8ed34.6a447","type":"ui_group","name":"Time","tab":"4d8d2f83.26819","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d8d2f83.26819","type":"ui_tab","name":"Settings","icon":"settings","order":16,"disabled":false,"hidden":true},{"id":"180954d35e10e2e0","type":"ui_spacer","z":"ea0787bfe1387952","name":"spacer","group":"57ba9f86082177e9","order":2,"width":1,"height":1},{"id":"60841e20ab486902","type":"mqtt-broker","name":"HiveMQ2","broker":"e5c95919220940e6b39b0652f51e501e.s2.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"64a9fb2486113132","type":"ui_tab","name":"History","icon":"history","order":2,"disabled":false,"hidden":false},{"id":"b0835a5f2c9a7f28","type":"ui_group","name":"Secure","tab":"64a9fb2486113132","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"04ec692198a67014","type":"ui_group","name":"pin","tab":"64a9fb2486113132","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"644a87442b633b63","type":"function","z":"90ea56e391b0259d","name":"Power Data","func":"randNumber = Math.floor(Math.random() * 10)\nmsg.payload = randNumber.toFixed(1);\nmsg.value = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["089c0c6f47a1af87","5569b0be6da4e4a3","e88654e592a6f856"]]},{"id":"9d90549f1ca96116","type":"inject","z":"90ea56e391b0259d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["cf42e81c1d4a1d4f","b69d417352b167f3","644a87442b633b63"]]},{"id":"cf42e81c1d4a1d4f","type":"function","z":"90ea56e391b0259d","name":"Current Data","func":"randNumber = Math.floor(Math.random() * 3) + 1\nmsg.payload = randNumber.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":220,"wires":[["3a77d91918c2961a","3173dd20f6026dbd"]]},{"id":"b69d417352b167f3","type":"function","z":"90ea56e391b0259d","name":"Energy Data","func":"randNumber = Math.floor(Math.random() * 3) + 1\nmsg.payload = randNumber.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["473911fe75566dee","c25a48cfd460cdd2","33e5a6eac8bf3e50"]]},{"id":"a965a649a1e9d3da","type":"ui_slider","z":"90ea56e391b0259d","name":"sampling_interval","label":"Sampling Interval Picker","tooltip":"","group":"a7121eb8a3976cc7","order":1,"width":12,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":130,"y":520,"wires":[["fcd95fe0bfa89981"]]},{"id":"c25a48cfd460cdd2","type":"ui_chart","z":"90ea56e391b0259d","name":"","group":"f8aed54f6d995e87","order":1,"width":0,"height":0,"label":"Energy Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#53d5fd","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":340,"wires":[[]]},{"id":"473911fe75566dee","type":"ui_text","z":"90ea56e391b0259d","group":"f8aed54f6d995e87","order":2,"width":0,"height":0,"name":"","label":"<font size=68><b>{{msg.payload}}</b></font>","format":"Joule","layout":"row-center","className":"","x":550,"y":380,"wires":[]},{"id":"fcd95fe0bfa89981","type":"ui_text","z":"90ea56e391b0259d","group":"a7121eb8a3976cc7","order":2,"width":12,"height":1,"name":"","label":"","format":"<font size=6>{{msg.payload}}</font>","layout":"row-center","className":"","x":410,"y":520,"wires":[]},{"id":"5b8c45ad99efbf83","type":"ui_text","z":"90ea56e391b0259d","group":"794a5e00d515c325","order":2,"width":12,"height":2,"name":"","label":"Perkiraan Biaya Listrik :","format":"<font size=6> Rp. {{msg.payload}},00- </font>","layout":"col-center","className":"","x":790,"y":440,"wires":[]},{"id":"ce8757a5dcf86d2c","type":"debug","z":"90ea56e391b0259d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"a2445b28a1145744","type":"function","z":"90ea56e391b0259d","name":"Power Data","func":"randNumber = Math.floor(Math.random() * 218) + 10\nmsg.payload = randNumber.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":680,"wires":[["ead9efc0f248e095"]]},{"id":"ad3585d2d2e393b7","type":"inject","z":"90ea56e391b0259d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":680,"wires":[["a2445b28a1145744"]]},{"id":"ead9efc0f248e095","type":"mqtt out","z":"90ea56e391b0259d","name":"","topic":"voltage","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":500,"y":680,"wires":[]},{"id":"089c0c6f47a1af87","type":"ui_text","z":"90ea56e391b0259d","group":"abe1a4c6a41b84a1","order":1,"width":6,"height":3,"name":"","label":"<font size=68><b>{{msg.payload}}</b></font>","format":"Watt","layout":"col-center","className":".power_test","x":530,"y":100,"wires":[]},{"id":"3a77d91918c2961a","type":"ui_text","z":"90ea56e391b0259d","group":"d1319834927b3320","order":1,"width":6,"height":3,"name":"","label":"<font size=68><b>{{msg.payload}}</b></font>","format":"Ampere","layout":"col-center","className":".power_test","x":530,"y":240,"wires":[]},{"id":"aa279aea358143c7","type":"ui_template","z":"90ea56e391b0259d","group":"7b69fde61b276e29","name":"","order":0,"width":0,"height":0,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":400,"y":1280,"wires":[[]]},{"id":"6acdd0418d90302e","type":"ui_date_picker","z":"90ea56e391b0259d","name":"","label":"date","group":"7b69fde61b276e29","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":230,"y":1320,"wires":[[]]},{"id":"db7cc8d33106ea7c","type":"ui_dropdown","z":"90ea56e391b0259d","name":"","label":"Pilih Golongan","tooltip":"","place":"Select option","group":"794a5e00d515c325","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"Golongan R-1/TR","type":"str"},{"label":"","value":"Golongan R-2/TR","type":"str"},{"label":"","value":"Golongan R-3/TR","type":"str"}],"payload":"","topic":"value","topicType":"msg","className":"","x":220,"y":440,"wires":[["2f6fa8bfd2374652"]]},{"id":"2f6fa8bfd2374652","type":"function","z":"90ea56e391b0259d","name":"","func":"randNumber = Math.floor(Math.random() * 100001) + 900000\nvar asdasd;\n\nmsg.payload = asdasd\n\nswitch(asdasd){\n    case \"1\":\n        msg.payload = msg.value * 1699.53\n        break;\n    case \"2\":\n        msg.payload = msg.value * 1\n        break\n    case \"3\":\n        msg.payload = msg.value * 0\n}\n\n// if(msg.interval == \"Golongan R-1/TR\"){\n//     msg.payload = msg.value * 1699.53\n// }\n// if(msg.interval == \"Golongan R-2/TR\"){\n//     msg.payload = msg.value * 1\n// }\n// if(msg.interval == \"Golongan R-3/TR\"){\n//     msg.payload = msg.value * 0\n// }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["5b8c45ad99efbf83"]]},{"id":"5569b0be6da4e4a3","type":"delay","z":"90ea56e391b0259d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":220,"y":380,"wires":[["2f6fa8bfd2374652"]]},{"id":"e88654e592a6f856","type":"change","z":"90ea56e391b0259d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"value","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[[]]},{"id":"3173dd20f6026dbd","type":"mqtt out","z":"90ea56e391b0259d","name":"","topic":"arus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":550,"y":160,"wires":[]},{"id":"33e5a6eac8bf3e50","type":"mqtt out","z":"90ea56e391b0259d","name":"","topic":"energy","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":610,"y":280,"wires":[]},{"id":"28efb1edd3521d27","type":"ui_template","z":"1e91273a5d5be47b","group":"d783cb980c3979fc","name":"Node-Red Dashboard Custom CSS","order":1,"width":0,"height":0,"format":"<style>\n    @font-face {\n        font-family: Poppins;\n        src:url(\"https://fonts.googleapis.com/css2?family=Poppins&display=swap\");\n    }\n    /*Main background*/\n    body {\n        font-family: 'Poppins';\n        background: -webkit-linear-gradient(\n            55deg,\n            #0E1C26 0%,\n            #2A454B 50%,\n            #294861 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n    \n    body.nr-dashboard-theme .nr-dashboard-slider .md-track-fill {\n        background-color: white;\n    }\n    \n    /*slider thumb*/\n    body.nr-dashboard-theme .nr-dashboard-slider .md-thumb:after {\n    background-color: white;\n    border-color: white;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid #5BC236 !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: #0E1C26 !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n    \n    /*dialog header*/\n    .dialog_header{\n        background:-webkit-linear-gradient(\n            55deg,\n            #0E1C26 0%,\n            #2A454B 50%,\n            #294861 100%\n            );\n    }\n    \n    .pin {\n        background: linear-gradient(45deg, #0E1C26, #2A454B);\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n        background-color: #5BC236;\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-switch .md-bar {\n        background-color: rgba(255,255,255,0.5);\n    }\n    \n    .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n        background-color: #fff;\n    }\n    \n    .nr-dashboard-theme md-select-menu md-option {\n        background-color: #2A454B !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #3C848A !important;\n    }\n    \n    a{\n        color: white !important;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":260,"y":160,"wires":[[]]},{"id":"329a01feaa17de74","type":"ui_text","z":"ea0787bfe1387952","group":"16879514407ab3c7","order":1,"width":6,"height":4,"name":"","label":"<font size = 60><b>{{msg.payload}}</b></font>","format":"Watt","layout":"col-center","className":"power_text","x":350,"y":320,"wires":[]},{"id":"da921aa3e0491302","type":"ui_chart","z":"ea0787bfe1387952","name":"Power Chart","group":"87307bf9f8c172f9","order":1,"width":6,"height":5,"label":"Power Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":350,"y":360,"wires":[[]]},{"id":"6fd43c507bf8bdaa","type":"ui_chart","z":"ea0787bfe1387952","name":"hours","group":"ff095374a3733fb3","order":1,"width":0,"height":0,"label":"Power Chart [Hours]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1870,"y":220,"wires":[[]]},{"id":"27c9109d17f1a5ae","type":"ui_chart","z":"ea0787bfe1387952","name":"days","group":"cc5f9b7aefef3bbd","order":1,"width":6,"height":5,"label":"Power Chart [Days]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1870,"y":260,"wires":[[]]},{"id":"741e428db167eb64","type":"mqtt in","z":"ea0787bfe1387952","name":"","topic":"publishpower","qos":"2","datatype":"auto","broker":"ec84c754678be126","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":340,"wires":[["329a01feaa17de74","da921aa3e0491302","b56389b51a1382a2","8cd55b5f0e61e603"]]},{"id":"30842687f700de53","type":"ui_template","z":"ea0787bfe1387952","group":"16879514407ab3c7","name":"","order":2,"width":0,"height":0,"format":"<style>\n    .power_text{\n        transform :scale(2);\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":100,"y":180,"wires":[[]]},{"id":"54155bd0c3e1d4f4","type":"ui_text","z":"ea0787bfe1387952","group":"1797f96774c1a8fa","order":1,"width":6,"height":4,"name":"","label":"<font size = 60><b>{{msg.payload}}</b></font>","format":"Ampere","layout":"col-center","className":"power_text","x":330,"y":540,"wires":[]},{"id":"bc03b9fefa0ab6d4","type":"ui_chart","z":"ea0787bfe1387952","name":"Current Chart","group":"eca448189584cf70","order":1,"width":6,"height":5,"label":"Current Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":360,"y":580,"wires":[[]]},{"id":"44ac2ec19fe14851","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":540,"wires":[]},{"id":"5e4ca659849f9f15","type":"mqtt in","z":"ea0787bfe1387952","name":"","topic":"publishcurrent","qos":"2","datatype":"auto","broker":"ec84c754678be126","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":540,"wires":[["54155bd0c3e1d4f4","bc03b9fefa0ab6d4","ea1161e247c3442d","a953fa385a962779"]]},{"id":"256968e2a2087b0a","type":"ui_text","z":"ea0787bfe1387952","group":"7f797a590374212a","order":1,"width":6,"height":4,"name":"","label":"<font size = 60><b>{{msg.payload}}</b></font>","format":"kWh","layout":"col-center","className":"power_text","x":310,"y":700,"wires":[]},{"id":"50412ae0f8cfd4f8","type":"ui_chart","z":"ea0787bfe1387952","name":"Energy Chart","group":"09decf03e40b6b21","order":1,"width":6,"height":5,"label":"Energy Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":330,"y":740,"wires":[[]]},{"id":"e1e13248580cc28e","type":"ui_chart","z":"ea0787bfe1387952","name":"hours","group":"545eddb96fe4613b","order":1,"width":6,"height":5,"label":"Energy Chart [Hours]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1930,"y":800,"wires":[[]]},{"id":"be134b3c31d8ada3","type":"ui_chart","z":"ea0787bfe1387952","name":"days","group":"9ef4a44b967a753a","order":1,"width":6,"height":5,"label":"Energy Chart [Days]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1930,"y":840,"wires":[[]]},{"id":"bc7ab3da3d28d5ce","type":"function","z":"ea0787bfe1387952","name":"Show Controlling","func":"if(msg.payload == \"minutes\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_eHours\",\n            \"Monitoring_eDays\"\n        ],\n        \"show\": [\n            \"Monitoring_eMinutes\"\n        ]\n    }\n }\n}\nif(msg.payload == \"hours\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_eMinutes\",\n            \"Monitoring_eDays\"\n        ],\n        \"show\": [\n            \"Monitoring_eHours\"\n        ]\n    }\n }\n}\nif(msg.payload == \"days\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_eHours\",\n            \"Monitoring_eMinutes\"\n        ],\n        \"show\": [\n            \"Monitoring_eDays\"\n        ]\n    }\n }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n/*if(msg.payload == \"minutes\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_pHours\",\n            \"Monitoring_pDays\",\n            \"Monitoring_pMinutes\"\n        ],\n        \"show\": [\n            \n        ]\n    }\n }\n}*/","finalize":"","libs":[],"x":1950,"y":740,"wires":[["75516f4923426f78"]]},{"id":"75516f4923426f78","type":"ui_ui_control","z":"ea0787bfe1387952","name":"","events":"all","x":2140,"y":740,"wires":[[]]},{"id":"10dd41eb80b0f872","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":660,"wires":[]},{"id":"d371f2e51854209f","type":"mqtt in","z":"ea0787bfe1387952","name":"","topic":"publishenergy","qos":"2","datatype":"auto","broker":"ec84c754678be126","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":700,"wires":[["50412ae0f8cfd4f8","256968e2a2087b0a","9c5b1cf8979eb841","287cff20a843016e","4220cf4336ba6ccb"]]},{"id":"1b8dd5e428cfecaf","type":"ui_dropdown","z":"ea0787bfe1387952","name":"","label":"Pilih Golongan","tooltip":"","place":"Select option","group":"57ba9f86082177e9","order":1,"width":11,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"Golongan R-1/TR","type":"str"},{"label":"","value":"Golongan R-2/TR","type":"str"},{"label":"","value":"Golongan R-3/TR","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":560,"y":780,"wires":[["b17af2fc1d50900b"]]},{"id":"b3c3fb111bb80c2a","type":"ui_text","z":"ea0787bfe1387952","group":"c636c829acce9c75","order":1,"width":12,"height":3,"name":"Gol 1","label":"Perkiraan Biaya Listrik :","format":"<font size=60> Rp. {{msg.payload}},00- </font>","layout":"col-center","className":"","x":690,"y":820,"wires":[]},{"id":"cc6b30fc589dbf32","type":"ui_text","z":"ea0787bfe1387952","group":"3cf65e4c5df5297d","order":1,"width":12,"height":3,"name":"Gol 2","label":"Perkiraan Biaya Listrik :","format":"<font size=60> Rp. {{msg.payload}},00- </font>","layout":"col-center","className":"","x":690,"y":860,"wires":[]},{"id":"231e7601f9f39e57","type":"ui_text","z":"ea0787bfe1387952","group":"c74736a995e3d117","order":1,"width":12,"height":3,"name":"Gol 3","label":"Perkiraan Biaya Listrik :","format":"<font size=60> Rp. {{msg.payload}},00- </font>","layout":"col-center","className":"","x":690,"y":900,"wires":[]},{"id":"b17af2fc1d50900b","type":"function","z":"ea0787bfe1387952","name":"Show Controlling","func":"if(msg.payload == \"Golongan R-1/TR\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_CostR2\",\n            \"Monitoring_CostR3\"\n        ],\n        \"show\": [\n            \"Monitoring_CostR1\"\n        ]\n    }\n }\n}\nif(msg.payload == \"Golongan R-2/TR\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_CostR1\",\n            \"Monitoring_CostR3\"\n        ],\n        \"show\": [\n            \"Monitoring_CostR2\"\n        ]\n    }\n }\n}\nif(msg.payload == \"Golongan R-3/TR\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_CostR1\",\n            \"Monitoring_CostR2\"\n        ],\n        \"show\": [\n            \"Monitoring_CostR3\"\n        ]\n    }\n }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n/*if(msg.payload == \"minutes\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_pHours\",\n            \"Monitoring_pDays\",\n            \"Monitoring_pMinutes\"\n        ],\n        \"show\": [\n            \n        ]\n    }\n }\n}*/","finalize":"","libs":[],"x":810,"y":780,"wires":[["6150192e4c56cd0c"]]},{"id":"6150192e4c56cd0c","type":"ui_ui_control","z":"ea0787bfe1387952","name":"","events":"all","x":1000,"y":780,"wires":[[]]},{"id":"c3f63b425bbd13ca","type":"function","z":"ea0787bfe1387952","name":"","func":"msg.payload = parseInt(msg.energy) * 1352\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":820,"wires":[["b3c3fb111bb80c2a","1e74ee8cd9d71db3"]]},{"id":"f94ffba750cfd283","type":"function","z":"ea0787bfe1387952","name":"","func":"msg.payload = parseInt(msg.energy) * 1444\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":860,"wires":[["cc6b30fc589dbf32"]]},{"id":"c0f9e1c82c62fb8c","type":"function","z":"ea0787bfe1387952","name":"","func":"msg.payload = parseInt(msg.energy) * 1444\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":900,"wires":[["231e7601f9f39e57"]]},{"id":"830929aed6d2a39b","type":"function","z":"ea0787bfe1387952","d":true,"name":"power func","func":"var msg1 ={}\nmsg1.payload = (msg.payload.publishvoltage * msg.payload.publishcurrent).toFixed(1);\nmsg1.topic = \"power\"\n\n/*global.set('delete_not_needed', function(msg) {\n    delete msg.payload.arus;\n    return 0;    \n}, 'memoryOnly');*/\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1140,"wires":[["2e85a99f86d4c62a","e7e91faea94ee8e6"]]},{"id":"da09fa254b36c8a6","type":"function","z":"ea0787bfe1387952","name":"Show Controlling","func":"if(msg.payload == \"minutes\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_cHours\",\n            \"Monitoring_cDays\"\n        ],\n        \"show\": [\n            \"Monitoring_cMinutes\"\n        ]\n    }\n }\n}\nif(msg.payload == \"hours\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_cMinutes\",\n            \"Monitoring_cDays\"\n        ],\n        \"show\": [\n            \"Monitoring_cHours\"\n        ]\n    }\n }\n}\nif(msg.payload == \"days\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_cHours\",\n            \"Monitoring_cMinutes\"\n        ],\n        \"show\": [\n            \"Monitoring_cDays\"\n        ]\n    }\n }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n/*if(msg.payload == \"minutes\"){\n    msg.payload = {\n    \"group\": {\n        \"hide\": [\n            \"Monitoring_pHours\",\n            \"Monitoring_pDays\",\n            \"Monitoring_pMinutes\"\n        ],\n        \"show\": [\n            \n        ]\n    }\n }\n}*/","finalize":"","libs":[],"x":1910,"y":380,"wires":[["6bb3e6d9d95c5724"]]},{"id":"6bb3e6d9d95c5724","type":"ui_ui_control","z":"ea0787bfe1387952","name":"","events":"all","x":2100,"y":380,"wires":[[]]},{"id":"16f4f7f63314f02e","type":"ui_chart","z":"ea0787bfe1387952","name":"hours","group":"f67d05763ede65d4","order":1,"width":6,"height":5,"label":"Power Chart [Hours]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1870,"y":440,"wires":[[]]},{"id":"8936e47c2706f6fd","type":"ui_chart","z":"ea0787bfe1387952","name":"days","group":"a564da164c314db2","order":1,"width":6,"height":5,"label":"Current Chart [Days]","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1870,"y":480,"wires":[[]]},{"id":"8a698cdfe7127939","type":"join","z":"ea0787bfe1387952","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":290,"y":1140,"wires":[["830929aed6d2a39b"]]},{"id":"2e85a99f86d4c62a","type":"delay","z":"ea0787bfe1387952","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":670,"y":1140,"wires":[[]]},{"id":"a953fa385a962779","type":"function","z":"ea0787bfe1387952","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"time\" : now.getUTCHours()+\":\"+now.getUTCMinutes()+\":\"+now.getUTCSeconds(),\n    \"arus\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":480,"wires":[["d268170c46cccc6f"]]},{"id":"d268170c46cccc6f","type":"function","z":"ea0787bfe1387952","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"arus_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/app/public/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":480,"wires":[["88407f6a2bddd502"]]},{"id":"b69ad56d6d34dc55","type":"debug","z":"ea0787bfe1387952","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":380,"wires":[]},{"id":"66650f11dc98e588","type":"switch","z":"ea0787bfe1387952","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":480,"wires":[["73cf2ac2232ac99c"],["3e597da630869ee6"]]},{"id":"2d0610f6cf3b00ca","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,time,arus","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":460,"wires":[["1f19887ccd6934a6","b69ad56d6d34dc55"]]},{"id":"1f19887ccd6934a6","type":"file","z":"ea0787bfe1387952","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1530,"y":460,"wires":[[]]},{"id":"aabf15f484cbe427","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,time,arus","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":500,"wires":[["1f19887ccd6934a6"]]},{"id":"73cf2ac2232ac99c","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":460,"wires":[["2d0610f6cf3b00ca"]]},{"id":"3e597da630869ee6","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":500,"wires":[["aabf15f484cbe427"]]},{"id":"88407f6a2bddd502","type":"fs-file-lister","z":"ea0787bfe1387952","name":"","start":"/public","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":860,"y":480,"wires":[["66650f11dc98e588"]]},{"id":"b56389b51a1382a2","type":"function","z":"ea0787bfe1387952","name":"Set data","func":"var now = new Date();\nvar msg1 ={}\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"time\" : now.getUTCHours()+\":\"+now.getUTCMinutes()+\":\"+now.getUTCSeconds(),\n    \"power\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["d24a65b5f1c47099"]]},{"id":"d24a65b5f1c47099","type":"function","z":"ea0787bfe1387952","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"power_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/app/public/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["61a14ab34ad0faa8"]]},{"id":"7c132c66818c3219","type":"debug","z":"ea0787bfe1387952","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":160,"wires":[]},{"id":"a8aa19837628d9b3","type":"switch","z":"ea0787bfe1387952","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":220,"wires":[["8f4794a44534fe1a"],["b85a5acf6b65b2a8"]]},{"id":"b316e231fc959315","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,time,power","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":200,"wires":[["84fe741c74c0ec53","7c132c66818c3219"]]},{"id":"84fe741c74c0ec53","type":"file","z":"ea0787bfe1387952","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1530,"y":200,"wires":[[]]},{"id":"30fb9d90a2a7f041","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,time,power","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":240,"wires":[["84fe741c74c0ec53"]]},{"id":"8f4794a44534fe1a","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":200,"wires":[["b316e231fc959315"]]},{"id":"b85a5acf6b65b2a8","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":240,"wires":[["30fb9d90a2a7f041"]]},{"id":"61a14ab34ad0faa8","type":"fs-file-lister","z":"ea0787bfe1387952","name":"","start":"/public","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":"5","stat":true,"showWarnings":false,"x":860,"y":220,"wires":[["a8aa19837628d9b3"]]},{"id":"69b84f7fbac8deb1","type":"comment","z":"ea0787bfe1387952","name":"Current Side","info":"","x":110,"y":500,"wires":[]},{"id":"d208876903076b94","type":"comment","z":"ea0787bfe1387952","name":"Energy Side","info":"","x":110,"y":660,"wires":[]},{"id":"9c5b1cf8979eb841","type":"function","z":"ea0787bfe1387952","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"time\" : now.getUTCHours()+\":\"+now.getUTCMinutes()+\":\"+now.getUTCSeconds(),\n    \"energi\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":660,"wires":[["be721413caceabe1"]]},{"id":"be721413caceabe1","type":"function","z":"ea0787bfe1387952","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"energi_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/app/public/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":660,"wires":[["d33c500d63a52471"]]},{"id":"bcdf295b23dac2ff","type":"debug","z":"ea0787bfe1387952","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":560,"wires":[]},{"id":"8a40b8ed0b2825e0","type":"switch","z":"ea0787bfe1387952","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":660,"wires":[["e2fbdf2101308b3e"],["bb8b9a183d7383bc"]]},{"id":"73293b9e3b5f09a9","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,time,energi","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":640,"wires":[["8ef7a756c588e166","bcdf295b23dac2ff"]]},{"id":"8ef7a756c588e166","type":"file","z":"ea0787bfe1387952","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1530,"y":640,"wires":[[]]},{"id":"709f5d93537e420d","type":"csv","z":"ea0787bfe1387952","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,time,energi","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1370,"y":680,"wires":[["8ef7a756c588e166"]]},{"id":"e2fbdf2101308b3e","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":640,"wires":[["73293b9e3b5f09a9"]]},{"id":"bb8b9a183d7383bc","type":"change","z":"ea0787bfe1387952","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":680,"wires":[["709f5d93537e420d"]]},{"id":"d33c500d63a52471","type":"fs-file-lister","z":"ea0787bfe1387952","name":"","start":"/public","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":860,"y":660,"wires":[["8a40b8ed0b2825e0"]]},{"id":"e7e91faea94ee8e6","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1260,"wires":[]},{"id":"4f2b18fc52e5fa10","type":"ui_toast","z":"ea0787bfe1387952","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":430,"y":100,"wires":[]},{"id":"ccd52c5403896e3c","type":"mqtt in","z":"ea0787bfe1387952","name":"","topic":"status","qos":"2","datatype":"auto","broker":"60841e20ab486902","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":100,"wires":[["4f2b18fc52e5fa10"]]},{"id":"79bef5d35c57547c","type":"comment","z":"ea0787bfe1387952","name":"Status","info":"","x":190,"y":40,"wires":[]},{"id":"ea1161e247c3442d","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"1e74ee8cd9d71db3","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"energy","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":1080,"wires":[]},{"id":"60bda875d3992e38","type":"comment","z":"ea0787bfe1387952","name":"Power Side","info":"","x":110,"y":280,"wires":[]},{"id":"5b0ae2c7bd74ed80","type":"mqtt in","z":"ea0787bfe1387952","name":"","topic":"cost","qos":"2","datatype":"auto","broker":"60841e20ab486902","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":920,"wires":[[]]},{"id":"287cff20a843016e","type":"change","z":"ea0787bfe1387952","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"energy","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":860,"wires":[["c3f63b425bbd13ca","f94ffba750cfd283","c0f9e1c82c62fb8c","b4da0480a39770d9"]]},{"id":"8cd55b5f0e61e603","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":240,"wires":[]},{"id":"4220cf4336ba6ccb","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":620,"wires":[]},{"id":"b4da0480a39770d9","type":"function","z":"ea0787bfe1387952","name":"","func":"let prevenergy;\nlet energy;\nlet totalenergy;\nlet currentenergy;\n\n\nenergy=parseInt(msg.energy);\nprevenergy=energy;\ntotalenergy=prevenergy + energy;\ncurrentenergy = totalenergy+energy;\nmsg.payload = currentenergy;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":960,"wires":[["a4441754c119b70d"]]},{"id":"5e70b4abd5b98853","type":"inject","z":"ea0787bfe1387952","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1060,"wires":[[]]},{"id":"a4441754c119b70d","type":"debug","z":"ea0787bfe1387952","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":960,"wires":[]},{"id":"a28691c2ce01e14b","type":"change","z":"ea0787bfe1387952","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1220,"wires":[[]]},{"id":"562c022732c1594d","type":"ui_button","z":"c409eac5d7a6f929","name":"","group":"2af565dbd39ea0ba","order":2,"width":0,"height":0,"passthru":false,"label":"Change Wi-Fi Controlling","tooltip":"","color":"","bgcolor":"","className":"","icon":"lock","payload":"true","payloadType":"bool","topic":"show","topicType":"str","x":150,"y":120,"wires":[["cb931b6847f57417"]]},{"id":"cb931b6847f57417","type":"ui_template","z":"c409eac5d7a6f929","group":"e0db5a2ade50af65","name":"Pin_Unlock","order":0,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //remove any previously added pin dialog\n        $('.dialog').remove();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body);\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":355.3750343322754,"y":119.96426963806152,"wires":[["346a9b9ff47ce922"]]},{"id":"346a9b9ff47ce922","type":"function","z":"c409eac5d7a6f929","name":"verify_pin","func":"var pins = [\"1125\"];\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["bb4a57d6d76cf8a5"]]},{"id":"bb4a57d6d76cf8a5","type":"switch","z":"c409eac5d7a6f929","name":"check","property":"verified","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":120,"wires":[["1669018180070112"],["b48f289499210723"]]},{"id":"1669018180070112","type":"function","z":"c409eac5d7a6f929","name":"pin_ok","func":"var msg2 = {};\nmsg2.topic = \"Please Connect to OnDemandAP for Wi-Fi settings\";\nmsg2.payload = \"\";\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":835.8749961853027,"y":99.9999942779541,"wires":[["b2256e50f9077393"],["9ef9bb06abddc483"]]},{"id":"b48f289499210723","type":"function","z":"c409eac5d7a6f929","name":"pin_error","func":" msg.topic = \"Wrong PIN\";\n msg.payload = \"\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":845.8749961853027,"y":139.9999942779541,"wires":[["9ef9bb06abddc483"]]},{"id":"9ef9bb06abddc483","type":"ui_toast","z":"c409eac5d7a6f929","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1070,"y":120,"wires":[]},{"id":"b2256e50f9077393","type":"function","z":"c409eac5d7a6f929","name":"","func":"msg.payload = \"change_ok\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":60,"wires":[["17403fa9c03df13b"]]},{"id":"17403fa9c03df13b","type":"mqtt out","z":"c409eac5d7a6f929","name":"","topic":"connection/auth","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":1280,"y":60,"wires":[]},{"id":"86ad272725f3e175","type":"ui_button","z":"c409eac5d7a6f929","name":"","group":"2af565dbd39ea0ba","order":1,"width":0,"height":0,"passthru":false,"label":"Change Wi-Fi Monitoring","tooltip":"","color":"","bgcolor":"","className":"","icon":"lock","payload":"true","payloadType":"bool","topic":"show","topicType":"str","x":150,"y":260,"wires":[["7d3a922f518fb580"]]},{"id":"7d3a922f518fb580","type":"ui_template","z":"c409eac5d7a6f929","group":"e0db5a2ade50af65","name":"Pin_Unlock","order":0,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //remove any previously added pin dialog\n        $('.dialog').remove();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body);\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":355.3750343322754,"y":259.9642696380615,"wires":[["a7cd632f9188e1c7"]]},{"id":"a7cd632f9188e1c7","type":"function","z":"c409eac5d7a6f929","name":"verify_pin","func":"var pins = [\"1125\"];\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["213360578b0cf6a9"]]},{"id":"213360578b0cf6a9","type":"switch","z":"c409eac5d7a6f929","name":"check","property":"verified","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":260,"wires":[["217e5d4294d35825"],["11a8ffc1d910d855"]]},{"id":"217e5d4294d35825","type":"function","z":"c409eac5d7a6f929","name":"pin_ok","func":"var msg2 = {};\nmsg2.topic = \"Please Connect to OnDemandAP for Wi-Fi settings\";\nmsg2.payload = \"\";\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":835.8749961853027,"y":239.9999942779541,"wires":[["f53a7aa019fb9258"],["a88744e174feeebc"]]},{"id":"11a8ffc1d910d855","type":"function","z":"c409eac5d7a6f929","name":"pin_error","func":" msg.topic = \"Wrong PIN\";\n msg.payload = \"\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":845.8749961853027,"y":279.9999942779541,"wires":[["a88744e174feeebc"]]},{"id":"a88744e174feeebc","type":"ui_toast","z":"c409eac5d7a6f929","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1070,"y":260,"wires":[]},{"id":"f53a7aa019fb9258","type":"function","z":"c409eac5d7a6f929","name":"","func":"msg.payload = \"change_ok\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":200,"wires":[["e24f3675a1c1c3ba"]]},{"id":"e24f3675a1c1c3ba","type":"mqtt out","z":"c409eac5d7a6f929","name":"","topic":"connection/auth2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":1290,"y":200,"wires":[]},{"id":"bc057c530ec2b089","type":"ui_switch","z":"ee01a21b094d0ee1","name":"Relay4","label":"","tooltip":"","group":"efe997dcfec6e257","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"switch4","x":300,"y":520,"wires":[["4636a71c01b3ec80","4ccf3df9bba6e071"]]},{"id":"92993efbacfba97d","type":"ui_switch","z":"ee01a21b094d0ee1","name":"Relay3","label":"","tooltip":"","group":"6f61304635312db9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"switch3","x":300,"y":480,"wires":[["2960a992c7544e96","a107a1f23c865801"]]},{"id":"b948382048ea9024","type":"ui_switch","z":"ee01a21b094d0ee1","name":"Relay2","label":"","tooltip":"","group":"b896b237d40ce60a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"switch2","x":300,"y":440,"wires":[["bbc3236b8d299833","4271d211198e8788"]]},{"id":"4636a71c01b3ec80","type":"mqtt out","z":"ee01a21b094d0ee1","name":"","topic":"controlling/relay4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":510,"y":520,"wires":[]},{"id":"2960a992c7544e96","type":"mqtt out","z":"ee01a21b094d0ee1","name":"","topic":"controlling/relay3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":510,"y":480,"wires":[]},{"id":"bbc3236b8d299833","type":"mqtt out","z":"ee01a21b094d0ee1","name":"","topic":"controlling/relay2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":510,"y":440,"wires":[]},{"id":"be9b31f3d308d4bb","type":"ui_button","z":"ee01a21b094d0ee1","name":"","group":"15cef360994f22c3","order":1,"width":0,"height":0,"passthru":false,"label":"End Session","tooltip":"","color":"","bgcolor":"","className":"","icon":"close","payload":"{     \"tab\": \"Controlling\" }","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":660,"wires":[["8d0a23be08c04194"]]},{"id":"8d0a23be08c04194","type":"ui_ui_control","z":"ee01a21b094d0ee1","name":"","events":"all","x":520,"y":660,"wires":[[]]},{"id":"4801f5dd21e6771e","type":"ui_template","z":"ee01a21b094d0ee1","group":"b896b237d40ce60a","name":"","order":4,"width":0,"height":0,"format":"<style>\n    md-switch .md-container {\n        transform : scale(3);\n    }\n    md-switch .md-thumb, md-switch .md-thumb:before{\n        transform :scale(0.6);\n                \n    }\n    md-switch .md-thumb, md-switch .md-thumb:after{\n        transform :scale(0.6);\n        background-color: green;\n                \n    }\n    /*.end_session{\n        width:100%;\n    }*/\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":300,"y":780,"wires":[[]]},{"id":"4271d211198e8788","type":"ui_text","z":"ee01a21b094d0ee1","group":"b896b237d40ce60a","order":2,"width":0,"height":0,"name":"","label":"","format":"<font size=30><b>{{msg.payload}}</b></font>","layout":"col-center","className":"","x":490,"y":220,"wires":[]},{"id":"a107a1f23c865801","type":"ui_text","z":"ee01a21b094d0ee1","group":"6f61304635312db9","order":2,"width":0,"height":0,"name":"","label":"","format":"<font size=30><b>{{msg.payload}}</b></font>","layout":"col-center","className":"","x":490,"y":260,"wires":[]},{"id":"4ccf3df9bba6e071","type":"ui_text","z":"ee01a21b094d0ee1","group":"efe997dcfec6e257","order":2,"width":0,"height":0,"name":"","label":"","format":"<font size=30><b>{{msg.payload}}</b></font>","layout":"col-center","className":"","x":490,"y":300,"wires":[]},{"id":"afa346947bb5ab38","type":"ui_text","z":"ee01a21b094d0ee1","group":"ebfb3f51d9917deb","order":2,"width":0,"height":0,"name":"","label":"","format":"<font size=30><b>{{msg.payload}}</b></font>","layout":"col-center","className":"","x":490,"y":180,"wires":[]},{"id":"22e9812cbba6f04b","type":"ui_switch","z":"ee01a21b094d0ee1","name":"Relay1","label":"","tooltip":"","group":"ebfb3f51d9917deb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"switch1","x":300,"y":400,"wires":[["afa346947bb5ab38","0c96e129bf9d5c6c"]]},{"id":"0c96e129bf9d5c6c","type":"mqtt out","z":"ee01a21b094d0ee1","name":"","topic":"controlling/relay1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60841e20ab486902","x":510,"y":400,"wires":[]},{"id":"1936b658.43326a","type":"ui_button","z":"14fbe959360a77b5","name":"","group":"160ddf0a.756f41","order":0,"width":0,"height":0,"passthru":false,"label":"Unlock_Controlling","tooltip":"","color":"","bgcolor":"","className":"","icon":"lock","payload":"true","payloadType":"bool","topic":"show","topicType":"str","x":110,"y":220,"wires":[["67060ec.9d7f1f"]]},{"id":"67060ec.9d7f1f","type":"ui_template","z":"14fbe959360a77b5","group":"4f3d9279.22b82c","name":"Pin_Unlock","order":0,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //remove any previously added pin dialog\n        $('.dialog').remove();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body);\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":335.3750343322754,"y":219.96426963806152,"wires":[["797ddf5e.2b5ab"]]},{"id":"797ddf5e.2b5ab","type":"function","z":"14fbe959360a77b5","name":"verify_pin","func":"var pins = [\"1125\"];\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":220,"wires":[["41443642.dd9aa8"]]},{"id":"41443642.dd9aa8","type":"switch","z":"14fbe959360a77b5","name":"check","property":"verified","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":650,"y":220,"wires":[["4a288444.8cbf0c"],["39892ab3.134bf6"]]},{"id":"4a288444.8cbf0c","type":"function","z":"14fbe959360a77b5","name":"pin_ok","func":"var msg2 = {};\nmsg2.topic = \"Pin successfully verified!\";\nmsg2.payload = \"\";\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":815.8749961853027,"y":199.9999942779541,"wires":[["593b457b580b92f3"],["2a87f426.517a6c"]]},{"id":"39892ab3.134bf6","type":"function","z":"14fbe959360a77b5","name":"pin_error","func":" msg.topic = \"Wrong PIN\";\n msg.payload = \"\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":825.8749961853027,"y":239.9999942779541,"wires":[["2a87f426.517a6c"]]},{"id":"2a87f426.517a6c","type":"ui_toast","z":"14fbe959360a77b5","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1050,"y":220,"wires":[]},{"id":"6aa9af2eef2ea646","type":"ui_ui_control","z":"14fbe959360a77b5","name":"","events":"all","x":1000,"y":380,"wires":[[]]},{"id":"54391bff1d853fcf","type":"ui_ui_control","z":"14fbe959360a77b5","name":"","events":"all","x":320,"y":440,"wires":[[]]},{"id":"593b457b580b92f3","type":"function","z":"14fbe959360a77b5","name":"Show Controlling","func":"msg.payload = {\n    \"tab\": \"CONTROLLING\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":180,"wires":[["cc6992380c0cb964"]]},{"id":"cc6992380c0cb964","type":"ui_ui_control","z":"14fbe959360a77b5","name":"","events":"all","x":1260,"y":180,"wires":[[]]},{"id":"3ad561d5e4626af3","type":"ui_button","z":"250c6b08eb1f9b3a","name":"","group":"b0835a5f2c9a7f28","order":0,"width":0,"height":0,"passthru":false,"label":"Unlock_Data","tooltip":"","color":"","bgcolor":"","className":"","icon":"lock","payload":"true","payloadType":"bool","topic":"show","topicType":"str","x":130,"y":140,"wires":[["9362badf6165feaa"]]},{"id":"9362badf6165feaa","type":"ui_template","z":"250c6b08eb1f9b3a","group":"04ec692198a67014","name":"Pin_Unlock","order":0,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <span ng-click=\"closeDialog()\" class=\"close\">&times;</span>\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* The Close Button */\n.close {\n    color: #fff;\n    float: right;\n    font-size: 28px;\n    font-weight: bold;\n    cursor: pointer;\n}\n\n.close:hover,\n.close:focus {\n    color: #1565C0;\n    text-decoration: none;\n    cursor: pointer;\n}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //remove any previously added pin dialog\n        $('.dialog').remove();\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body);\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":375.3750343322754,"y":139.96426963806152,"wires":[["1f16d42cf4d41117"]]},{"id":"1f16d42cf4d41117","type":"function","z":"250c6b08eb1f9b3a","name":"verify_pin","func":"var pins = [\"1125\"];\nvar verified = false;\n\nfor(var i=0;i<pins.length;i++){\n    if(msg.passcode == pins[i]){\n        verified = true;\n        break;\n    }\n}\n\nmsg.verified = verified;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":140,"wires":[["f2560e77e393c1ce"]]},{"id":"f2560e77e393c1ce","type":"switch","z":"250c6b08eb1f9b3a","name":"check","property":"verified","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":690,"y":140,"wires":[["8e4988fcbac5f75b"],["136dcf3d013bac9b"]]},{"id":"8e4988fcbac5f75b","type":"function","z":"250c6b08eb1f9b3a","name":"pin_ok","func":"var msg2 = {};\nmsg2.topic = \"Pin successfully verified!\";\nmsg2.payload = \"\";\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":855.8749961853027,"y":119.9999942779541,"wires":[["23cec18295ee918b"],["f4443d7556c90830"]]},{"id":"136dcf3d013bac9b","type":"function","z":"250c6b08eb1f9b3a","name":"pin_error","func":" msg.topic = \"Wrong PIN\";\n msg.payload = \"\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":865.8749961853027,"y":159.9999942779541,"wires":[["f4443d7556c90830"]]},{"id":"f4443d7556c90830","type":"ui_toast","z":"250c6b08eb1f9b3a","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1090,"y":140,"wires":[]},{"id":"23cec18295ee918b","type":"function","z":"250c6b08eb1f9b3a","name":"Show Controlling","func":"msg.payload = {\n    \"tab\": \"History Data\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":100,"wires":[["07aa854535288a7e"]]},{"id":"07aa854535288a7e","type":"ui_ui_control","z":"250c6b08eb1f9b3a","name":"","events":"all","x":1300,"y":100,"wires":[[]]},{"id":"782b06fb.cc1df8","type":"comment","z":"f925ad42bd078cb7","name":"Auto Logger archiving","info":"Generate file name that are to be archived.\n\nIdea is that this generates a list of file names for let's say between current day-5 days to current day-10 days, so all files that are 5-10 days old will get archived. And this can be executed daily or weekly, and the interval allows some overlap (e.g. the program fails, Node-Red was down, etc.)\n\nInject node should contain a JSON:\n{    \n    \"start\": 20,    \n    \"end\": 10\n}\n\nThis will generate file names D-20 to D-10 days.\nStart should be greather than end!\n","x":120,"y":140,"wires":[]},{"id":"f14e2f71.1ad87","type":"function","z":"f925ad42bd078cb7","name":"Maplin Filename generator","func":"let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":220,"wires":[["5ba61ce5.11d8a4"]]},{"id":"b57ab78e.cf1658","type":"function","z":"f925ad42bd078cb7","name":"Weather Station Filename generator","func":"let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"weather_sensor_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":320,"wires":[["5ba61ce5.11d8a4"]]},{"id":"5e47f3b4.7c779c","type":"inject","z":"f925ad42bd078cb7","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"40 02 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"start\":20,\"end\":10}","payloadType":"json","x":110,"y":240,"wires":[["f14e2f71.1ad87","b57ab78e.cf1658"]]},{"id":"ad87fee.c53d5","type":"exec","z":"f925ad42bd078cb7","command":"/home/pi/log_upload.sh","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"File upload","x":750,"y":260,"wires":[[],[],["5f0f09f4.a09208"]]},{"id":"5f0f09f4.a09208","type":"switch","z":"f925ad42bd078cb7","name":"Return code","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":320,"wires":[[],["639dcab5.1028b4"]]},{"id":"49210be0.0dbbe4","type":"exec","z":"f925ad42bd078cb7","command":"sudo rm ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"File delete","x":1130,"y":220,"wires":[[],[],["1fee1de5.695e32"]]},{"id":"639dcab5.1028b4","type":"change","z":"f925ad42bd078cb7","name":"Get filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":220,"wires":[["49210be0.0dbbe4"]]},{"id":"1fee1de5.695e32","type":"switch","z":"f925ad42bd078cb7","name":"Return code","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":240,"wires":[[],[]]},{"id":"5ba61ce5.11d8a4","type":"delay","z":"f925ad42bd078cb7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":640,"y":420,"wires":[["ad87fee.c53d5"]]},{"id":"9da5c02.66c844","type":"comment","z":"f925ad42bd078cb7","name":"log_upload.sh","info":"ftp -inv 192.168.1.x << EOF\n    user <username> <password>\n    binary\n    cd backup/logs\n    lcd /home/pi/datalog\n    put $1\nEOF","x":690,"y":160,"wires":[]},{"id":"f79c29b7.055068","type":"comment","z":"f925ad42bd078cb7","name":"Auto Logger","info":"","x":130,"y":500,"wires":[]},{"id":"4c8ae605.33be88","type":"function","z":"f925ad42bd078cb7","name":"Set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\" : now.getTime(),\n    \"dummy\" : msg.dummy\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":640,"wires":[["f46f569e.ff1a08"]]},{"id":"f46f569e.ff1a08","type":"function","z":"f925ad42bd078cb7","name":"Filename generator","func":"// Get the current time and convert it to text\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Generate out file name pattern\nmsg.fname = \"dummy_\"+ yyyy + mm + dd + \".csv\";\n// Full filename with path for the file node later\nmsg.filename = \"/app/public/\"+ msg.fname;\n\n// We save the current payload into a different place on the msg object\nmsg.filecontent = msg.payload;\n\n// We are passing the file name search pattern to fs node to tell us if the file exists or not\nmsg.payload = {\"pattern\":msg.fname};\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.fname});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":720,"wires":[["fa6936f.7758dc8"]]},{"id":"a96494a5.b0f4c8","type":"debug","z":"f925ad42bd078cb7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1450,"y":620,"wires":[]},{"id":"3db97537.b889ea","type":"switch","z":"f925ad42bd078cb7","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":720,"wires":[["3cb887e8.e533a8"],["f3ba1c7a.54ef5"]]},{"id":"fe6f74d5.674ec8","type":"csv","z":"f925ad42bd078cb7","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp,dummy","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1250,"y":700,"wires":[["3a8ebdf3.772cc2","a96494a5.b0f4c8"]]},{"id":"3a8ebdf3.772cc2","type":"file","z":"f925ad42bd078cb7","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1410,"y":700,"wires":[[]]},{"id":"f226a86d.9bdfb8","type":"csv","z":"f925ad42bd078cb7","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp,dummy","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1250,"y":740,"wires":[["3a8ebdf3.772cc2"]]},{"id":"3cb887e8.e533a8","type":"change","z":"f925ad42bd078cb7","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":700,"wires":[["fe6f74d5.674ec8"]]},{"id":"f3ba1c7a.54ef5","type":"change","z":"f925ad42bd078cb7","name":"Get file content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":740,"wires":[["f226a86d.9bdfb8"]]},{"id":"fa6936f.7758dc8","type":"fs-file-lister","z":"f925ad42bd078cb7","name":"","start":"/public","pattern":"","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":740,"y":720,"wires":[["3db97537.b889ea"]]},{"id":"393aba5b0e2cbf38","type":"function","z":"f925ad42bd078cb7","name":"Power Data","func":"randNumber = Math.floor(Math.random() * 10)\nmsg.payload = randNumber.toFixed(1);\nmsg.dummy = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":640,"wires":[["4c8ae605.33be88"]]},{"id":"2143ad2afb7234a9","type":"inject","z":"f925ad42bd078cb7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":640,"wires":[["393aba5b0e2cbf38"]]},{"id":"4fa73dd9.83cca4","type":"comment","z":"37cb6cd2d2fed482","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.","x":110,"y":100,"wires":[]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"37cb6cd2d2fed482","name":"Files","start":"/app/public","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":510,"y":200,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"d185a45.2327a58","type":"inject","z":"37cb6cd2d2fed482","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"/app/public","payloadType":"str","x":110,"y":160,"wires":[["3d4e5e51.bdf952"]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"37cb6cd2d2fed482","name":"","group":"160e81fb.f1c86e","order":1,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","x":100,"y":200,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"37cb6cd2d2fed482","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"160e81fb.f1c86e","order":9,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":910,"y":200,"wires":[["be4830df.5775d"]]},{"id":"dd88bd23.37cde","type":"function","z":"37cb6cd2d2fed482","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":200,"wires":[["eb17c7ee.e61988"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"37cb6cd2d2fed482","group":"160e81fb.f1c86e","name":"","order":6,"width":"18","height":"6","format":"<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1100,"y":260,"wires":[[]]},{"id":"9d27e846.b31db8","type":"template","z":"37cb6cd2d2fed482","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th><th>Action</th></tr>\n    {{#payload}}\n        <tr>\n            <td>{{fname}}</td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">Download</a></td>\n            <td><a href=\"/delete?filename={{name}}\" target=\"blank\">Delete</a></td>\n        </tr>\n    {{/payload}}\n</table>\n<script>\n    function myFunction(e) {\n        console.log(\"HAHA\")\n    }\n</script>\n","output":"str","x":940,"y":260,"wires":[["638728aa.cd0b08"]]},{"id":"3e094f82.15d6e","type":"function","z":"37cb6cd2d2fed482","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":260,"wires":[["9d27e846.b31db8"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"37cb6cd2d2fed482","name":"","group":"160e81fb.f1c86e","order":10,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","className":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":360,"wires":[["8da8147a.999af8"]]},{"id":"7d490dd1.8458b4","type":"function","z":"37cb6cd2d2fed482","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":420,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"37cb6cd2d2fed482","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":540,"y":420,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"37cb6cd2d2fed482","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":141,"y":628,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"37cb6cd2d2fed482","name":"","statusCode":"","headers":{},"x":931,"y":628,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"37cb6cd2d2fed482","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":391,"y":628,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"37cb6cd2d2fed482","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":581,"y":628,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"37cb6cd2d2fed482","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":751,"y":628,"wires":[["d19cc7d8.646328"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"37cb6cd2d2fed482","d":true,"name":"","group":"160e81fb.f1c86e","order":11,"width":"2","height":"1","passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","className":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","topicType":"str","x":91,"y":748,"wires":[["30f41c01.358a54"]]},{"id":"30f41c01.358a54","type":"function","z":"37cb6cd2d2fed482","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":261,"y":748,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"37cb6cd2d2fed482","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":441,"y":748,"wires":[["4d254665.d508e8"]]},{"id":"4d254665.d508e8","type":"csv","z":"37cb6cd2d2fed482","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":610,"y":740,"wires":[["7dcec769.580718"]]},{"id":"84810f0e.43f4e","type":"debug","z":"37cb6cd2d2fed482","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":700,"wires":[]},{"id":"7dcec769.580718","type":"function","z":"37cb6cd2d2fed482","name":"Format data for chart","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":740,"wires":[["84810f0e.43f4e","6c664bcff3552457"]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"37cb6cd2d2fed482","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"","name":"Confirmation","x":510,"y":360,"wires":[["24df84fe.ebf45c"]]},{"id":"8da8147a.999af8","type":"change","z":"37cb6cd2d2fed482","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":360,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"37cb6cd2d2fed482","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":360,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"37cb6cd2d2fed482","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"37cb6cd2d2fed482","group":"160e81fb.f1c86e","order":4,"width":"9","height":"1","name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","className":"","x":500,"y":140,"wires":[]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"37cb6cd2d2fed482","name":"","group":"160e81fb.f1c86e","order":3,"width":"2","height":"1","passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","x":110,"y":280,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"37cb6cd2d2fed482","name":"","group":"160e81fb.f1c86e","order":8,"width":"2","height":"1","passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","x":130,"y":480,"wires":[["8c1dfaac.979588"]]},{"id":"8c1dfaac.979588","type":"function","z":"37cb6cd2d2fed482","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["3d4e5e51.bdf952"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"37cb6cd2d2fed482","name":"","group":"160e81fb.f1c86e","order":2,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","className":"","icon":"autorenew","payload":"/app/public","payloadType":"str","topic":"change","topicType":"str","x":110,"y":240,"wires":[["3d4e5e51.bdf952"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"37cb6cd2d2fed482","name":"Folders","start":"/app/public","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":520,"y":300,"wires":[["ebc234be.d53fe8"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"37cb6cd2d2fed482","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"160e81fb.f1c86e","order":7,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","className":"","x":920,"y":300,"wires":[["2875c79f.531558"]]},{"id":"ebc234be.d53fe8","type":"function","z":"37cb6cd2d2fed482","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":300,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"37cb6cd2d2fed482","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"37cb6cd2d2fed482","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":300,"wires":[[]]},{"id":"928e60a7.994be","type":"ui_switch","z":"37cb6cd2d2fed482","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":5,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"hidden","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","x":100,"y":320,"wires":[["3d4e5e51.bdf952"]]},{"id":"ce39bfeb7848b208","type":"ui_date_picker","z":"37cb6cd2d2fed482","name":"","label":"date","group":"7b69fde61b276e29","order":0,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":350,"y":860,"wires":[[]]},{"id":"6c664bcff3552457","type":"ui_chart","z":"37cb6cd2d2fed482","d":true,"name":"","group":"160e81fb.f1c86e","order":11,"width":"18","height":"14","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#3f2bda","#000000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":780,"wires":[["d4c6298134c4b851"]]},{"id":"d4c6298134c4b851","type":"debug","z":"37cb6cd2d2fed482","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":780,"wires":[]},{"id":"ef6d4ac18c5d13d3","type":"http in","z":"37cb6cd2d2fed482","name":"","url":"/delete","method":"get","upload":false,"swaggerDoc":"","x":90,"y":560,"wires":[["38e2c7aaf96576f9"]]},{"id":"47f02671637b34e4","type":"file","z":"37cb6cd2d2fed482","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":1200,"y":560,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"f66ddaf28bbabe59","type":"ui_toast","z":"37cb6cd2d2fed482","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"className":"","topic":"","name":"Confirmation","x":650,"y":560,"wires":[["65d6f078159bdfd6"]]},{"id":"c72497e351935845","type":"change","z":"37cb6cd2d2fed482","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":560,"wires":[["f66ddaf28bbabe59"]]},{"id":"65d6f078159bdfd6","type":"switch","z":"37cb6cd2d2fed482","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":560,"wires":[["3268050693fda158","77508d6f2948d692"]]},{"id":"3268050693fda158","type":"debug","z":"37cb6cd2d2fed482","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"getfile","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":520,"wires":[]},{"id":"30eefba3fd2f0bd2","type":"function","z":"37cb6cd2d2fed482","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":420,"wires":[[]],"outputLabels":["Folder selected"]},{"id":"38e2c7aaf96576f9","type":"function","z":"37cb6cd2d2fed482","name":"query files","func":"// Get the filename from the flow context\nmsg.filename = msg.req.query.filename;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":560,"wires":[["c72497e351935845"]]},{"id":"77508d6f2948d692","type":"function","z":"37cb6cd2d2fed482","name":"","func":"let filename = msg.filename;\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":560,"wires":[["47f02671637b34e4"]]},{"id":"12e0203f.d58be","type":"inject","z":"53b8a60c.b0cba8","name":"init","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":198,"y":122,"wires":[["4ad793f9.1fbdbc"]]},{"id":"4ad793f9.1fbdbc","type":"function","z":"53b8a60c.b0cba8","name":"Read locales","func":"var TZ = [\"Africa\",\"Asia\",\"Canada\",\"Indian\",\"US\",\"America\",\"Atlantic\",\"Chile\",\"Mexico\",\"Antarctica\",\"Australia\",\"Pacific\",\"Arctic\",\"Brazil\",\"Europe\"]\n\nfor(let i=0;i<TZ.length;i++) {\n    node.send({topic: TZ[i], payload: '/usr/share/zoneinfo/' + TZ[i] + '/', init: i === TZ.length-1})\n}\n","outputs":1,"noerr":0,"x":417,"y":121,"wires":[["c6fd0daf.8c482"]]},{"id":"c6fd0daf.8c482","type":"exec","z":"53b8a60c.b0cba8","command":"ls ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":589,"y":121,"wires":[["ebd4dca4.ab828","3e2e7b0e.683ce4"],[],[]]},{"id":"ebd4dca4.ab828","type":"function","z":"53b8a60c.b0cba8","name":"set flow vars","func":"var areas = msg.payload.split('\\n').filter(a => !!a)\n\nflow.set(msg.topic, areas)","outputs":0,"noerr":0,"x":760,"y":107,"wires":[]},{"id":"3e2e7b0e.683ce4","type":"switch","z":"53b8a60c.b0cba8","name":"if init","property":"init","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":757,"y":167,"wires":[["467bb794.f76f88"]]},{"id":"375407c3.992bd8","type":"ui_dropdown","z":"53b8a60c.b0cba8","name":"","label":"Area","tooltip":"","place":"Select area","group":"a1d8ed34.6a447","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1084,"y":166,"wires":[["f1ff3b98.994be8"]]},{"id":"467bb794.f76f88","type":"function","z":"53b8a60c.b0cba8","name":"Set options","func":"var msg = {\n    options: flow.keys()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":918,"y":166,"wires":[["375407c3.992bd8"]]},{"id":"f4e22fd6.746d3","type":"ui_dropdown","z":"53b8a60c.b0cba8","name":"","label":"City","tooltip":"","place":"Select city","group":"a1d8ed34.6a447","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1167,"y":250,"wires":[["7866d4d5.6cf34c"]]},{"id":"f1ff3b98.994be8","type":"function","z":"53b8a60c.b0cba8","name":"Set cities","func":"global.set(\"area\", msg.payload)\nglobal.set(\"city\", \"\")\n\nmsg = {options: flow.get(msg.payload)}\nreturn msg;","outputs":1,"noerr":0,"x":1237,"y":166,"wires":[["f4e22fd6.746d3"]]},{"id":"7866d4d5.6cf34c","type":"function","z":"53b8a60c.b0cba8","name":"Set cities","func":"global.set(\"city\", msg.payload)","outputs":0,"noerr":0,"x":1312,"y":250,"wires":[]},{"id":"65e64af0.16f134","type":"inject","z":"53b8a60c.b0cba8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"area","payloadType":"global","x":933,"y":203,"wires":[["375407c3.992bd8"]]},{"id":"8c4767e4.d55908","type":"inject","z":"53b8a60c.b0cba8","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"city","payloadType":"global","x":999,"y":262,"wires":[["f4e22fd6.746d3"]]},{"id":"66cfa78b.b5b6d8","type":"inject","z":"53b8a60c.b0cba8","name":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":219,"y":207,"wires":[["5ad77235.78a39c"]]},{"id":"5ad77235.78a39c","type":"exec","z":"53b8a60c.b0cba8","command":"date","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":373,"y":207,"wires":[["98d0bf7f.5371d"],[],[]]},{"id":"98d0bf7f.5371d","type":"ui_text","z":"53b8a60c.b0cba8","group":"a1d8ed34.6a447","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":194,"wires":[]},{"id":"4fbda27f.7d015c","type":"ui_button","z":"53b8a60c.b0cba8","name":"","group":"a1d8ed34.6a447","order":8,"width":0,"height":0,"passthru":false,"label":"UPDATE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":175,"y":319,"wires":[["27059364.3b4a8c"]]},{"id":"27059364.3b4a8c","type":"function","z":"53b8a60c.b0cba8","name":"update timezone","func":"var command = '/usr/share/zoneinfo/'+global.get(\"area\")+'/'+global.get(\"city\")+' /etc/localtime'\nnode.send({payload: command})\n","outputs":1,"noerr":0,"x":357,"y":319,"wires":[["d759e33f.cecaa"]]},{"id":"d759e33f.cecaa","type":"exec","z":"53b8a60c.b0cba8","command":"sudo ln -sf","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":552,"y":319,"wires":[["5aea3ae6.980494"],["cd3f0ef2.cf60c"],[]]},{"id":"a0414d37.8132c","type":"ui_toast","z":"53b8a60c.b0cba8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"success","x":860,"y":305,"wires":[]},{"id":"ff28f510.a53508","type":"ui_toast","z":"53b8a60c.b0cba8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"error","x":851,"y":346,"wires":[]},{"id":"5aea3ae6.980494","type":"change","z":"53b8a60c.b0cba8","name":"success","rules":[{"t":"set","p":"payload","pt":"msg","to":"Timezone updated successfully","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":711,"y":305,"wires":[["a0414d37.8132c"]]},{"id":"cd3f0ef2.cf60c","type":"change","z":"53b8a60c.b0cba8","name":"error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Error while updating timezone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":719,"y":346,"wires":[["ff28f510.a53508"]]}]